@model IEnumerable<Capitulo02.Models.Instituicao>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Nome)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Endereco)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Endereco)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.InstituicaoID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.InstituicaoID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.InstituicaoID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
</body>
</html>
