@model IEnumerable<Modelo.Carrinho.Carrinho>

<!DOCTYPE html>

<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" charset="utf-8" />
        <title>@ViewBag.Title</title>
        <link href="@Url.Content("~/Content/bootstrap.css")" rel="stylesheet">
        <link href="@Url.Content("~/Content/themes/base/jquery-ui.css")" rel="stylesheet">
<!--        <link href="@Url.Content("~/Scripts/jquery-ui-1.11.4.customAC/jquery-ui.css")" rel="stylesheet"> -->
    </head>
    <body>
        <div class="container">
            <div class="row">
                <div class="page-header bg-success">
                    <div>
                        <h1>Desenvolvimento em ASP.NET MVC <small class="text-danger">Carrinho de compras</small></h1>
                    </div>
                    <div style="text-align:right;">
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-6 col-md-6 bg-success">
                    <div class="row">
                        <div class="col-xs-6 col-md-6 bg-success">
                            <div class="panel-heading">
                                Relação de VENDAS registradas
                            </div>
                        </div>
                        <div class="col-xs-6 col-md-6 bg-success">
                            <div class="panel-heading">
                                <button type="button" id="registrarNovaVenda" class="btn btn-success" data-url="@Url.Action("Create", "Carrinho", new {Area = "Carrinho"})">
                                    Registrar uma nova VENDA
                                </button>
                            </div>
                        </div>
                    </div>
                        <div class="panel-body">
                            <table class="table table-striped table-hover">
                                <thead>
                                    <tr>
                                        <th>
                                            ID
                                        </th>
                                        <th>
                                            Data
                                        </th>
                                        <th>
                                            Cliente
                                        </th>
                                        <th>
                                            Total
                                        </th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.CarrinhoId)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Data)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Cliente.Nome)
                                            </td>
                                            <td>
                                                @*@Html.DisplayFor(modelItem => item.Total)*@
                                            </td>
                                            <td>
                                                @Html.ActionLink("Alterar", "Edit", new { id = item.CarrinhoId }) |
                                                @Html.ActionLink("Detalhes", "Details", new { id = item.CarrinhoId }) |
                                                @Html.ActionLink("Eliminar", "Delete", new { id = item.CarrinhoId })
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                <div class="col-xs-6 col-md-6 bg-success">
                    <div class="col-xs-12 col-md-12 bg-success">
                        <div id="novaVenda">
                            
                        </div>
                        <div id="vendaCriada">

                        </div>
                    </div>
                </div>
            </div>

            <br />
            <div class="row">
                <small>Carrinho de compra</small>
            </div>
        </div>
        <script src="@Url.Content("~/Scripts/jquery-1.10.2.js")"></script>
        <script src="@Url.Content("~/Scripts/jquery-ui-1.10.2.js")"></script>
<!--        <script src="@Url.Content("~/Scripts/jquery-ui-1.11.4.customAC/external/jquery/jquery.js")"></script>
        <script src="@Url.Content("~/Scripts/jquery-ui-1.11.4.customAC/jquery-ui.js")"></script> -->
        <script src="@Url.Content("~/Scripts/jquery.validate.js")"></script>
        <script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.js")"></script>
        <script src="@Url.Content("~/scripts/bootstrap.js")"></script>
        <script src="@Url.Content("~/scripts/DataTables/jquery.dataTables.js")"></script>
        <script src="@Url.Content("~/scripts/DataTables/dataTables.bootstrap.js")"></script>
        <script type="text/javascript">
            var OnSuccessCreateCarrinho = function () {
                alert('this is ajaxSuccess');
            }

            $(document).ready(function (response, status, xhr) {
                $('.autocomplete-with-update-field').autocomplete({
                    minLength: 5,
                    source: function (request, response) {
                        var url = $(this.element).data('url');
                        $.getJSON(url, { param: request.term }, function (data) {
                            response(data);
                        });
                    },
                    select: function (event, ui) {
                        var updatefield = '#' + $("#" + event.target.id).data('updatefield');
                        $(updatefield).val(ui.item.id);
                        setTimeout(function () {
                            $(updatefield).focus();
                        }, 200);
                    },
                    change: function (event, ui) {
                        //if (!ui.item) {
                        //    $('#Endereco_Cep').val('');
                        //}
                    }
                });

                //$("#datepicker").datepicker();
                //alert(1);

                $('.table').dataTable({
                    "order": [[1, "asc"]]
                });
            });

            $(document).on("click", '#registrarNovaVenda', function (e) {
                var url = $('#registrarNovaVenda').data('url');
                //alert(url);
                $.post(url, {  }, function (data) {
                    $('#novaVenda').html(data);
                });
            });

            $(document).ajaxSuccess(function () {
                //alert(2);
                $('.autocomplete-with-update-field').autocomplete({
                    minLength: 5,
                    source: function (request, response) {
                        var url = $(this.element).data('url');
                        $.getJSON(url, { param: request.term }, function (data) {
                            response(data);
                        });
                    },
                    select: function (event, ui) {
                        var updatefield = '#' + $("#" + event.target.id).data('updatefield');
                        $(updatefield).val(ui.item.id);
                        setTimeout(function () {
                            $(updatefield).focus();
                        }, 200);
                    },
                    change: function (event, ui) {
                        //if (!ui.item) {
                        //    $('#Endereco_Cep').val('');
                        //}
                    }
                });

                $(".datepicker").datepicker();

                //function OnSuccessCreateCarrinho(response, status, xhr) {
                //    var url = '/Carrinho/Carrinho/GetCarrinho';

                //    $.post(url, function (data) {
                //        $('#vendaCriada').html(data);
                //    });
                //}
            });
        </script>
    </body>
</html>
