@inject Microsoft.AspNetCore.Identity.SignInManager<Capitulo01.Models.Infra.UsuarioDaAplicacao> SignInManager
@inject Microsoft.AspNetCore.Identity.UserManager<Capitulo01.Models.Infra.UsuarioDaAplicacao> UserManager

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewData["Title"] - Capitulo 03</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap-grid.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap-grid.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap-grid.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
    </environment>

    @RenderSection("Styles", required: false)
</head>
<body>
    <nav class="navbar navbar-light bg-primary navbar-fixed-top">
        <div class="container-fluid">
            <div class="row">
                <div class="navbar-header">
                    <img class="media-heading" src="~/images/casa-do-codigo_2x.png" width="30" height="30" alt="">
                </div>
                <div>
                    <ul class="nav navbar-nav navbar-light">
                        <li class="navbar-brand">&nbsp;&nbsp;&nbsp;ASP.NET Core MVC</li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>

    <partial name="_CookieConsentPartial" />

    <div class="row" style="text-align:right;">
        <div class="col-6"></div>
        <div class="col-6">
            @if (SignInManager.IsSignedIn(User))
            {
                <div>Olá @UserManager.GetUserName(User), seja bem-vindo(a) / @Html.ActionLink("Logout", "Sair", "Infra", new { area = "" })</div>
            }
            else
            {
                <a class="nav-item nav-link" asp-area="" asp-controller="Infra" asp-action="Acessar">
                    Informar usuário/senha para acessar
                </a>
            }
        </div>
    </div>

    <div class="container-fluid" style="margin-top: 20px;">
        <div class="row">
            <div class="col-2">
                <nav class="nav flex-column bg-transparent" style="margin-left:40px;">
                    <div class="row">
                        <a class="nav-item nav-link" asp-area="Cadastros" asp-controller="Instituicao" asp-action="Index">
                            <img src="~/images/university.png" width="30" height="30" alt="">
                            Instituições
                        </a>
                    </div>
                    <div class="row">
                        <a class="nav-item nav-link" asp-area="Cadastros" asp-controller="Departamento" asp-action="Index">
                            <img src="~/images/department.png" width="30" height="30" alt="">
                            Departamentos
                        </a>
                    </div>
                    <div class="row">
                        <a class="nav-item nav-link" asp-area="Discente" asp-controller="Academico" asp-action="Index">
                            <img src="~/images/academic.png" width="30" height="30" alt="">
                            Acadêmicos
                        </a>
                    </div>
                </nav>
            </div>
            <div class="col-10">
                @RenderBody()
            </div>
        </div>
    </div>

    <nav class="navbar fixed-bottom" style="background-color: #e3f2fd; margin-top:20px;">
        <a class="navbar-brand" href="#">Everton Coimbra de Araújo</a>
    </nav>

    <environment include="Development">
        <script src="~/lib/jquery/jquery.slim.min.js"></script>
        <script src="~/lib/popper.js//umd/popper.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.4/umd/popper.min.js"
                asp-fallback-src="~/lib/popper.js/umd/popper.js">
        </script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"
                asp-fallback-src="~/lib/jquery/jquery.slim.min.js">
        </script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js">
        </script>
    </environment>

    @RenderSection("ScriptPage", false);
</body>
</html>
