@using Projeto01.Areas.Seguranca.Models
@model PapelEditModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Alteração de usuários em um PAPEL";
}

@Html.ValidationSummary()
@using (Html.BeginForm())
{
    <input type="hidden" name="nomePapel" value="@Model.Papel.Name" />
    <div class="panel panel-primary">
        <div class="panel-heading">Adicionar para @Model.Papel.Name</div>
        <table class="table table-striped">
            @if (Model.NaoMembros.Count() == 0)
            {
                <tr><td colspan="2">Todos os usuários são membros</td></tr>
            }
            else
            {
                <tr><td>Usuários</td><td>Adicionar ao Papel</td></tr>
                foreach (Usuario usuario in Model.NaoMembros)
                {
                    <tr>
                        <td>@usuario.UserName</td>
                        <td>
                            <input type="checkbox" name="IdsParaAdicionar" value="@usuario.Id">
                        </td>
                    </tr>
                }
            }
        </table>
    </div>

    <div class="panel panel-primary">
        <div class="panel-heading">Remover de @Model.Papel.Name</div>
        <table class="table table-striped">
            @if (Model.Membros.Count() == 0)
            {
                <tr><td colspan="2">Sem usuários membros</td></tr>
            }
            else
            {
                <tr><td>Usuários</td><td>Remover do Papel</td></tr>
                foreach (Usuario usuario in Model.Membros)
                {
                    <tr>
                        <td>@usuario.UserName</td>
                        <td>
                            <input type="checkbox" name="IdsParaRemover" value="@usuario.Id">
                        </td>
                    </tr>
                }
            }
        </table>
    </div>
    <button type="submit" class="btn btn-primary">Gravar alterações</button>
    @Html.ActionLink("Cancelar", "Index", null, new { @class = "btn btn-default" })
}